@charset "utf-8";

/* first, steal from Panic */

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  font-family: ui-monospace, "Inconsolata", "Menlo", "Source Sans Pro",
    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5em;
}

a {
  color: #0098ff;
  text-decoration: none;
}

a:visited {
  color: #005b99;
}

a:hover {
  text-decoration: underline;
}

/* Layout */

header h1,
h2 {
  color: transparent;
  font-size: 0;
  position: relative;
  text-align: center;
  padding: 40px 0 0 0;
}

header h1 {
  background-image: url(../images/slay-logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  -webkit-background-size: 256px 256px;
  -moz-background-size: 256px 256px;
  background-size: 256px 256px;
  height: 256px;
  padding-top: 60px;
}

header h2 {
  background-image: url(../images/slay-name.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  -webkit-background-size: 302px 103px;
  -moz-background-size: 302px 103px;
  background-size: 302px 103px;
  height: 103px;
  padding: 0 0 0 0;
}

.main {
  width: 960px;
  margin: 0 auto;
  /* outline: 1px solid green; */
}

.text-section {
  width: 540px;
  margin: 40px auto 0 auto;
  margin-top: 40px;
  margin-bottom: 60px;
  /* outline: 1px solid orange; */
}

.text-section p {
  margin-bottom: 16px;
}

.text-section h3 {
  font-size: 16px;
}

.video-container {
  width: 960px;
  height: 540px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: bisque;
}

.footer {
  text-align: center;
  font-size: 12px;
}

@media (prefers-color-scheme: light) {
  /* Light theme styles go here */

  body {
    color: #000;
    background-color: #fcfcf9;
  }
}

@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */

  body {
    color: #fff;
    background-color: #343432;
  }

  /* header h1 {
    background-image: url(../images/logo-dark.svg);
  } */

  header h2 {
    background-image: url(../images/quitters-name-dark.svg);
  }

  a {
    color: #a4d6f7;
    text-decoration: none;
  }

  a:visited {
    color: #81afcd;
  }
}

@media only screen and (max-width: 600px) {
  /* header h1 {
        -webkit-background-size: 104px 94px;
        -moz-background-size: 104px 94px;
        background-size: 104px 94px;
        height: 104px;
    } */

  /* header h2 {
    -webkit-background-size: 281px 22px;
    -moz-background-size: 281px 22px;
    background-size: 281px 22px;
    height: 24px;
  } */

  .main {
    width: 100%;
  }

  .text-section {
    width: 90%;
  }
}
